@font-face {
font-family: Tahoma;
src: url("../font/Tahoma.ttf");
}

* {
	color: #FFFFFF;
	font-family: Tahoma;
	padding: 0;
	border: 0;
	margin: 0;
}

html, body{
	width: 100%;
	height: 100%;
	background-color: #000000;
}

#fundo{
	width: 100%;
	height: 100%;
	position: fixed;
}

#logotop {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	min-width: 200px;
}

#logotop figure img{
	width: 100%;
}


#logobottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 35%;
	min-width: 200px;
}

#logobottom figure img{
	width: 100%;
}

#container {
	width: 60%;
	min-width: 320px;
	margin-right:auto;
	margin-left: auto;
	overflow: hidden;
	border: none;
	background-color: #000000;
	text-align: center;
	padding-top: 50px;
}

.cabecalho {
	border:none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

}


header > h1 {
	box-sizing: border-box;
	border: solid 3px #FFFFFF;
	color: #FFFFFF;
	font-size: 18px;
	width: 70%;
	max-width: 350px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 15px;
}

@media screen and (max-width: 1024px){
	header > h1 {
		font-size: 16px;
		padding: 10px;
	}
}

h1 > img{
	vertical-align: middle;
	margin: 5px 10px; 
}


h5{
	font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width: 1024px){
	h5{
		font-size: 14px;
		font-weight: 300;
	}	
}

header h1, header > h5 {
	text-align: center;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}

#container #logo{
	width: 100%;
	height: 300px;
	min-width: 280px;
	max-width: 380px;
	margin: 0 auto;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
}


@media screen and (max-width: 1024px){
	#container #logo{
		min-width: 230px;
		max-width: 230px;
		margin: 0 auto;
		background-image: url('../img/logo-mobile.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
}

form{
	width: 70%;
	min-width: 320px;
	margin: 20px auto;
	position: relative;
}


form input, form button{
	box-sizing: border-box;
	height: 50px;
}

form input{
	width:75%;
	max-width: 420px;
	margin-right: -1%;
	padding: 10px;
	color: #000000;
}

form button{
	width: 25%;
	background-color: #C7555A;
	color: #FFFFFF;
}

@media screen and (max-width: 1024px){
		form input{
			margin-right: 0;
		}
		form input, form button{
			width: 95%;
		}
}